*{
    font-family: 'Noto Sans', sans-serif;
}
html,body{
    margin:0;
    padding:0;
}
.section{
    height:100vh;
}
nav{
    background:rgb(40,40,40);
    color:white;
    display:flex;
    float: right;
}
nav > a{
    text-decoration: none;
    color:white;
    font-size:17px;
    padding:15px 10px;
}
nav > a:hover{
    background: rgb(60,60,60);
}
.create{
    background:rgb(37, 231, 37)
}
#background{
    background-image: url('./media/exemplar.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
    font-size:2em;
}
h1{
    color:rgb(30,30,30);
    font-weight: bold;
    font-size:2em;
    margin:50px;
}